{% extends "base.html" %}
{% block body %}
<div class="test1">
  <div class="container1"> 
  <h1 align="center" ><u><b>bienvenu a tipe-rsaissi</b></u></h1>
  <p>London is the most populous city in the United Kingdom,
  with a metropolitan area of over 9 million inhabitants.hhhhhhhhhhhhhhhhhhhhhhhhhhhhjhj
ghjghjgjggghghgjhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh<br><br><br>hysssgdfsfdfdfsds</p>
  <hr>
</div>


<div class="container2 ">
<h1 align="center" style="color:white;"><u><b>interview avec adam fletecher: </b></u></h1>
<iframe width="420" height="315"
src="https://www.youtube.com/embed/k1-TrAvp_xs?playlist=k1-TrAvp_xs&loop=1">
</iframe>
</div>
</div>

    <section>
      <div class="container reveal">
        <h2>Caption</h2>
        <div class="text-container">
          <div class="text-box">
            <h3>Section Text</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              eius molestiae perferendis eos provident vitae iste.
            </p>
          </div>
          <div class="text-box">
            <h3>Section Text</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              eius molestiae perferendis eos provident vitae iste.
            </p>
          </div>
          <div class="text-box">
            <h3>Section Text</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              eius molestiae perferendis eos provident vitae iste.
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container reveal">
        <h2>Caption</h2>
        <div class="text-container">
          <div class="text-box">
            <h3>Section Text</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              eius molestiae perferendis eos provident vitae iste.
            </p>
          </div>
          <div class="text-box">
            <h3>Section Text</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              eius molestiae perferendis eos provident vitae iste.
            </p>
          </div>
          <div class="text-box">
            <h3>Section Text</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              eius molestiae perferendis eos provident vitae iste.
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>        
      
      <div class="container reveal" >
        <h2 align="center" ><b>temoin</br></h2>
        <div class="test">
         <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div id="rcorners1" class="w3-container">
                <div class="w3-card" style="width:100%">
                  <img src="static/adam.png" alt="Person" style="width:100%">
                    <div class="w3-container">
                        <h4><b>adam fletcher</b></h4>
                        <p>The boss of all bosses</p>
                    </div>                  
                </div>
              </div>
            </div>
            <div class="flip-card-back">
               <h1>John Doe</h1> 
               <p>Architect & Engineer</p> 
               <p>We love that guy</p>
            </div>

          </div>
         </div>
         <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div id="rcorners1" class="w3-container">
                <div class="w3-card" style="width:100%">
                  <img src="static/adam.png" alt="Person" style="width:100%">
                    <div class="w3-container">
                        <h4><b>adam fletcher</b></h4>
                        <p>The boss of all bosses</p>
                    </div>                  
                </div>
              </div>
            </div>
            <div class="flip-card-back">
               <h1>John Doe</h1> 
               <p>Architect & Engineer</p> 
               <p>We love that guy</p>
            </div>

          </div>
        </div>
      </div>


    </section>


    



{% endblock %}

{% block head %}
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#rcorners1 {
  border-radius: 25px;
  background: #ffffff;
  padding: 20px; 
  width: auto;
  height: auto;  
}

</style>


<link rel="icon" type="image/x-icon" href="/static/abc.jpg" height="auto" width="auto">
<title>acceuil</title>


{% endblock %}
